.container {
  flex: 1;
  margin: 5px;
}

.themeList {
  flex-direction: row;
  flex-wrap: wrap;
}

.themeItem {
  justify-content: center;
  align-items: center;
  margin: 5px;
}

.themeText {
  font-size: 12px;
}
